html {
    background-color: lightblue;
    font-family: cursive;
    text-align: center;
    color: darkblue;
}

#bird1 {
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 3px;
    border: 1px solid blue;
    background-color: lightblue;
    background-image: url(mybird.png);
}

button {
    font-family: cursive;
    text-align: center;
    color: darkblue;
}

#btn-get-size,
#btn-get-pos {
    background-color: mediumpurple;
}

#btn-resize {
    background-color: darkturquoise;
}

#btn-left,
#btn-down {
    background-color: seagreen;
}

#btn-right,
#btn-up {
    background-color: indianred;
}

#btn-toggle {
    background-color: yellow;
}
